@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>
<head>
    <title>
        To Do List
    </title>
    <body>

        <div class="jumbotron text-center">
            <h1>Der, Die, oder Das?  Ein Gummibaeren Paradochs</h1>
            <h4>Geschreibt in nonsensical Non-Deutsch, because I, writing pseudo-German-sounding words, wanted to today</h4>
        </div>

        
        <div class="well-sm">
            <p>@Html.ActionLink("Click hier to see unsere Productslist!", "\\Products\\Index")</p>
        </div>
    </body>
</head>
</html>
