@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>
<head>
    <title>
        To Do List
    </title>
    <body>

        <div class="jumbotron text-center">
            <h1>A Bootstrap Page</h1>
            <p>Resize this responsive page to see the effect!</p>
        </div>
        <h2>Welcome to the Gummilist</h2>
    </body>
</head>
</html>
